.wrapper{width:1200px;margin:0 auto;}
$color:#f9b548;
$fz:12px;
body{background:#fff;}

@mixin seti($w,$h,$l,$t) {
    display: inline-block;
    background: url(../images/icon.png);
    width:$w;
    height:$h;
    background-position: $l $t;
    vertical-align: text-top;
}

#top{
    height:31px;
    background:#e3e4e5;
    .wrapper{
        font:12px/30px "";
        .location{
            a{
                color:#333;
                line-height:30px;
                &:hover{color:$color;}
                i.loca{
                    display: inline-block;
                    width:12px;
                    height:30px;
                    background: url(../images/weizhi.png) no-repeat center;
                    float:left;// float可以解决行内块元素下方的间隙问题
                    margin-right:6px;
                } 
            }
        }
        .login{
            // margin-left:15px;
            // color:#6b6b6b;
            // a{color:#6b6b6b;
            //     &:hover{color:$color;}
            // }
            margin-left:15px;
            color:#6b6b6b;
            p{
                display:flex;
                a{
                    color:#6b6b6b;
                    margin:0 5px;
                    &:hover{color:$color;}
                }
                em{
                    cursor: pointer;
                    &:hover{color:$color;}
                }
            }
        }
        .menu{
            a{
                padding:0 10px;
                float: left;
                &:hover{
                    color:$color;
                }
                &:hover u{
                    transform: rotate(180deg);
                    transition: 0.2s linear;
                }
            }
            a.phone{
                color:$color;
                &:hover{
                    background:#fff;
                }
            }
            u{
                display:inline-block;
                width:0;
                border-top:solid 7px #bbb;
                border-left:solid 5px #e3e4e5;
                border-right:solid 5px #e3e4e5;
                margin:0 3px;
            }
            b.badinfo{
                display:inline-block;
                width:15px;
                height:15px;
                margin:0 3px;
                background:url(../images/jubao.png) no-repeat center;
            }
            i{
                margin:0 3px;
            }
            i.vip{
                @include seti(18px,16px,-54px,-19px);
            }
            i.tel{
                @include seti(17px,18px,-72px,-19px);
            }
        }
    }
}

header{
    height:147px;
    border-bottom: 2px solid $color;
    .wrapper{
        height: 145px;
        position: relative;
        .header-main{
            // overflow: hidden;
            height: 100px;
            display:flex;
            justify-content: space-between;
            .logo{
                width: 285px;
                display:flex;
                align-items: center;
                a{
                    img{
                        height: 50px;
                        vertical-align: middle;
                    }
                }
                .head-city{
                    margin-left: 30px;
                    padding-left: 30px;
                    border-left: 1px solid #dfdfdf;
                    width: 125px;
                    height: 45px;
                    div{
                        font-size: 15px;
                        &:after{
                            content:"";
                            width: 0;
                            height: 0;
                            border-bottom: 8px solid $color;
                            border-left: 8px solid transparent;
                            display: inline-block;
                            vertical-align: bottom;
                            position: relative;
                            bottom: 2px;
                        }
                    }
                    a{
                        color: #9c9c9c;
                        font-size: $fz;
                    }
                }
            }
            .search{
                height:72px;
                margin-top:25px;
                .searchbox{
                    form{
                        height: 38px;
                        .txt{
                            width:450px;
                            height:34px;
                            border:2px solid $color;
                            float:left;
                            input{
                                padding:0 10px;
                                width: 100%;
                                height: 100%;
                                display:block;
                                line-height: 34px;
                                color: #333;
                                border:0;
                            }
                            ul{
                                position: relative;
                                z-index: 10;
                                background: #fff;
                                color:#333;
                                display: none;
                            }
                            li{
                                line-height: 34px;
                                padding:3px 5px;
                                font-size: 12px;
                            }
                            li.active{
                                background:#999;
                            }
                        }
                        .btn{
                            text-align: center;
                            border:0;
                            color:#fff;
                            background:$color;
                            font-size:16px;
                            width:70px;
                            height:38px;
                            float:left;
                            cursor: pointer;
                        }
                    }
                }
                .hotsearch{
                    height:25px;
                    line-height: 25px;
                    font-size:$fz;
                    color:#999;
                    a{
                        color:#999;
                        margin-right:14px;
                    }
                }
    
            }
            .shopcar{
                margin-top:25px;
                .car{
                    display: block;
                    width:160px;
                    height:38px;
                    border:1px solid #bfbfbf;
                    text-align: center;
                    background:#fff;
                    font-size:$fz;
                    line-height: 38px;
                    i{
                        @include seti(18px,18px,-78px,-361px);
                        
                    }
                    b{
                        display: inline-block;
                        height:14px;
                        line-height: 14px;
                        background:$color;
                        padding:0 3px;
                        border-radius: 14px;
                    }
                }
            }
        }
        .nav{
            position: absolute;
            left:0;
            width:980px;
            height: 45px;
            line-height: 45px;
            display: flex;
            .goods-cat{
                &:hover .nav-menu{
                    display:block;
                }
                h4{
                    width: 220px;
                    height: 47px;
                    font-size: 15px;
                    font-weight: 100;
                    background:$color;
                    padding:0 15px;
                    box-sizing: border-box;
                }
                .nav-menu{
                    z-index: 99;
                    display: none;
                    width:220px;
                    height: 480px;
                    background:$color;
                    left:0px;
                    dl{
                        dt{
                            padding: 8px 10px;
                            b{
                                display: block;
                                height:20px;
                                line-height: 20px;
                                overflow: hidden;
                                i{
                                    float: left;
                                    margin-right:8px;
                                }
                                i.tel{
                                    @include seti(16px ,16px,-32px,-36px);
                                }
                                i.home{
                                    @include seti(16px ,16px,-154px,-18px);
                                }
                                i.wear{
                                    @include seti(16px ,16px,-98px,-36px);  
                                }
                                i.parts{
                                    @include seti(16px ,16px,-65px,-36px);
                                }
                                i.computer{
                                    @include seti(16px ,16px,-48px,-36px);
                                }
                                i.fashion{
                                    @include seti(16px ,16px,-114px,-36px);
                                }
                                a{
                                    display: inline-block;
                                    color:#fff;
                                    font-size: $fz;
                                } 
                                s{
                                    display: inline-block;
                                    float: right;
                                    color:#fff;
                                    font-size: $fz;
                                    font-family: "宋体";
                                    font-weight: 700;
                                }
                            }
                            span{
                                height: 44px;
                                line-height: 22px;
                                display: block;
                                padding-left: 24px;
                                a{
                                    color:#e3e3e3;
                                    display: inline-block;
                                    font-size: $fz;
                                }
                            }
                        }
                        dd{
                            display: none;
                            width:760px;
                            background:#fff;
                            position: absolute;
                            z-index:9;
                            top:0;
                            left:220px;
                            border:1px solid #bfbfbf;
                            border-left:none;
                            .left{
                                width: 510px;
                                float:left;
                                margin:10px;
                                .nav-menu-items{
                                    border-bottom: 1px solid #eee;
                                    margin-bottom: 10px;
                                    padding:0 10px 10px 0;
                                    h4{
                                        float: left;
                                        width: 70px;
                                        line-height: 25px;
                                        color: $color;
                                        font-size: $fz;
                                        background:none;
                                    }
                                    p{
                                        a{
                                            font-size: $fz;
                                            color:#333;
                                        }
                                        span{
                                            font-size: $fz;
                                            color: #bbb;
                                            margin: 0 5px;
                                        }
                                    }
                                }
                            }
                            .right{
                                float:right;
                                height:458px;
                                width: 200px;
                                padding:10px;
                                a{
                                    display: block;
                                }
                                a.last{
                                    border-top:1px dotted #ccc;
                                }
                            }
                        }
                    }
                }
            }
            a.one{
                color:#333;
                float:left;
                padding:0 16px;
                &:hover{
                    color:$color;
                }
            }
            div.fix{
                position: relative;
                &:hover ul{
                    display:block;
                }
                ul{
                    display:none;
                    background:#fff;
                    position: absolute;
                    top:40px;
                    left:0;
                    width:110px;
                    box-shadow: 0 0 3px #666;
                    li{
                        a{
                            display:block;
                            font-size: 14px;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
}

main{
    .breadcrumb{
        display:flex;
        height: 40px;
        align-items: center;
        a{
            font-size: 10px;
        }
        i{
            margin:0 8px;
            font-size: 10px;
            color:#bebebe;
        }
        span{
            color:#9e9e9e;
            font-size: 10px;
        }
    }
    .right-side{
        .sort-bar{
            height: 40px;
            background:#f3f3f3;
            margin-top:10px;
            border:1px solid #dfdfdf;
            span{
                padding: 0 20px;
                color:#4fb99f;
                line-height: 40px;
                font-weight: 700;
            }
        }
        .list{
            margin-left: 220px;
            ul{
                width: 960px;
                display:flex;
                flex-wrap: wrap;
                li{
                    width: 200px;
                    height: 300px;
                    margin:7px;
                    padding:10px;
                    border:3px solid transparent;
                    &:hover{
                        border:3px solid #eee;
                    }
                    a.img{
                        display:block;
                        width: 200px;
                        height: 200px;
                        img{
                            width: 200px;
                            height: 200px;
                        }
                    }
                    a.title{
                        display: block;
                        height: 40px;
                        line-height: 20px;
                        font-size: $fz;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        word-break: break-all;
                    }
                    .price{
                        display: block;
                        margin:5px 0;
                        color:#f00;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 12px;
                        color:#9c9c9c;
                        a{
                            color:#9c9c9c;
                            margin:0 3px;
                        }
                    }
                }
            }
        }

    }
}


footer{
    margin-top:30px;
    background:#fff;
    position: relative;
    .promise{
        height: 110px;
        a{
            display:block;
            width: 220px;
            float: left;
            margin:30px 0  0 20px;
            color:#333;
            dl{
                width: 220px;
                dt{
                    float: left;
                }
                .d1{
                    @include seti(50px,50px,0,-232px);
                }
                .d2{
                    @include seti(50px,50px,-50px,-232px);
                }
                .d3{
                    @include seti(50px,50px,-100px,-232px);
                }
                .d4{
                    @include seti(50px,50px,-150px,-232px);
                }
                .d5{
                    @include seti(50px,50px,0,-282px);
                }
                dd{
                    margin-left: 60px;
                    // float:left;
                    h4{
                        font-size:20px;
                        font-weight: 100;
                    }
                    p{
                        font-size: $fz;
                        color:#9c9c9c;
                    }
                }
                &:hover h4{
                    color:$color;
                }
            }
        }
    }
    .foot-help{
        border-top:1px solid #eee;
        height: 160px;
        dl{
            float: left;
            height: 110px;
            width: 180px;
            padding-top: 30px;
            dt{
                font-size: 14px;
                padding-left:8px;
            }
            dd{
                padding-left: 10px;
                margin-top:10px;
                a{
                    font-size:$fz;
                    display:block;
                    line-height: 25px;
                    color:#9c9c9c;
                }
            }
        }
        .foot-sns{
            width: 250px;
            float: right;
            dt{
                float: left;
                @include seti(70px,70px,-130px,-282px);
            }
            dd{
                padding:0;
                margin:0 0 0 75px;
                h4{
                    font-size: 14px;
                    font-weight: 100;
                }
                p{
                    font-size:$fz;
                    margin-top:5px;
                    line-height: 20px;
                    color: #999999;
                }
            }
        }
    }
}

#bottom{
    background:#f6f6f6;
    text-align: center;
    font-size: $fz;
    .foot-nav{
        height: 50px;
        line-height: 50px;
        i{
            margin: 0 15px;
            color: #ccc;
        }
        a{
            &:hover{
                color:$color;
            }
        }
    }
    .copy{
        padding-bottom: 15px;
        line-height: 25px;
        color: #999;
        a{
            color:#333;
            &:hover{
                color:$color;
            }
        }
    }
    .bot-link{
        height: 60px;
        a{
            display:inline-block;
            width: 120px;
            height: 50px;
            border:1px solid #eee;
            border-radius: 3px;
            margin: 0 5px; 
            img{
                width: 120px;
                height: 50px;
            }
        }
        .police{
            background:url(../images/bot_link.jpg);
            background-position: 0 -100px;
        }
    }
}